{% extends 'layout.html' %}
{% block konten %}
    <h1>LOGIN</h1>
   <form action="/aksi_login" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
        <div id="emailHelp" class="form-text">Kami tidak akan pernah menyebarkan data anda kepada orang lain</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1"name="password" required>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"required checked>
        <label class="form-check-label" for="flexCheckChecked">
          <p><a href="{{ url_for('syarat' ) }}" class="link-warning">Saya sudah membaca syarat dan ketentuan</a></p>
        </label>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}