{% extends 'layout.html' %}

{% block konten %}

<h1>INPUT DATA VAKSIN</h1>

<form action="/simpan" method="post" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Jenis vaksin</label>
      <input type="text" name="jenis_vaksin" placeholder="Masukan jenis vaksin"class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"required><br>

    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Umur</label>
      <input type="number"  name="umur" min="1" max="100" placeholder="Umur" class="form-control" id="exampleInputPassword1"required><br>
    </div>

    <div class="mb-3">
    <label for="exampleInputPassword2" class="form-label">Lokasi</label>
    <textarea name="lokasi" placeholder="Masukan puskesmas"class="form-control" id="exampleInputPassword2" required></textarea><br>
 </div>

 <div>
    <label for="exampleInputPassword3" class="form-label">Kapan di vaksin</label>
    <input type="number" name="tahun" min="1800" max="2024" placeholder="Tahun" class="form-control" id="exampleInputPassword3"required><br>
</div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>



    <h1><a href="{{ url_for('logout' ) }}"class="link-danger">LOGOUT 🚪</a></h1>


{% endblock %}

 