{% extends 'layout.html' %}
{% block konten %}
    <h1>HOME PAGE</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia quae hic eum necessitatibus autem aspernatur minima molestias vitae eius vel qui, repellendus, labore accusamus nam eligendi? Pariatur facere iste molestias, unde perferendis commodi quibusdam vero eveniet saepe mollitia. Sed ut sapiente ex sunt vero. Nulla, reprehenderit odit ab enim dicta obcaecati laborum in et nostrum ipsam nemo pariatur magni laboriosam doloribus unde temporibus similique sunt minima quos. Illum nisi sequi eligendi error, id cupiditate eveniet eius blanditiis fugit itaque! Doloremque quod, qui dolores id vel numquam accusantium doloribus, saepe quaerat at quae magni totam ea sed iure assumenda molestiae! Tempora.</p>
{% endblock %}