{% extends 'layout.html' %}
{% block konten %}
    <h1>INPUT DATA VAKSIN</h1>
    <form action="/aksiupdate" method="post" >
        <input type="hidden" name="id_vaksin" placeholder="Enter id" value="{{ value[0] }}" >
        <input type="text" name="jenis_vaksin" placeholder="Enter jenis" value="{{ value[1] }}" ><br>
        <input type="number" name="umur" min="1" max="100"  placeholder="Enter umur" value="{{ value[2] }}"><br>
        <textarea name="lokasi" placeholder="Enter lokasi" >{{ value[3] }}</textarea><br>
        <input type="number" name="tahun" min="1900" max="2024" placeholder="Tahun" ><br>
        <button type="submit">KIRIM</button>
    </form>
{% endblock %}